<footer class="bdfooter">
   
   <div class="container">
    <p>
        John Garzon / <a href="mailto:gajohn511@gmail.com">gajohn511@gmail.com</a>  /  Copyright {{getyear}} 
    </p>
    <samp>Powered by MEAN</samp>
   </div>
</footer>