<header>
{{!-- <h1>{{title}}</h1> --}}
{{!-- <p><a href="/">Home</a></p> --}}
{{!-- <p><a href="/about">About</a></p> --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{!-- <span class="glyphicon glyphicon-link" aria-hidden="true"></span> --}}
        <span class="{{glyph}}" aria-hidden="true"></span>
      </a>
      {{!-- <p class="navbar-text">Signed in as admin</p> --}}
      <p class="navbar-text">{{welcomeMsg}}</p>      
    </div>

    <ul id="mynav" class="nav nav-pills pull-right">
       <li role="presentation">
            <a href="/">HOME</a>
        </li>
        <li role="presentation">
            <a href="/journal">JOURNAL</a>
        </li>
    </ul>

      {{!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right nav-pills">
          <li role="presentation">
            <a href="/">HOME</a>
          </li>
          <li role="presentation">
            <a href="/journal">JOURNAL APP</a>
          </li>
      </ul>
    </div> --}}
  </div>
</nav>
</header>