<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bdstyle.css">
</head>
<body>
{{> header}}

<div id="mo">
</div>


{{!-- {{ <p>{{scream welcome}}</p> --}}

{{> footer}}

</body>

<script type="text/javascript">
$( document ).ready(function() {
    //$('#mo').html("hello world!");
});
</script>

</html>