<!DOCTYPE html>
<html lang="en">
<head>
    <title>journal app</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/journal.css">
{{> head}}
</head>
<body>
{{> header}}

<div class="container">
    <div class="page-header">
        <h1><samp>i</samp> am a journal</h1>
        <small> 
            <samp><kbd>instructions</kbd> submit a journal entry in the box provided, it will be saved to the database.
        </small>
    </div>
</div>

<div class="container">
    <div class="row wt">
        <div class="col-md-6">
            <div class="input-group">                
                <input type="text" class="form-control" placeholder="enter your journal entry here" id="inp">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="isend"><samp>iSend</samp></button>
                </span>                
            </div>
            <span id="helpBlock" class="help-block">
                tell me about your day...
            </span>            
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
</div>

<div class="container" style="" >
    <div class="row">
        <div class="col-md-6"> 
            <div class="list-group" id="thelist">
                {{!-- <a class="list-group-item">
                    <h3 class="list-group-item-heading">
                        July 30, 2017 <small>9:05 AM</small>
                    </h3>
                    <p class="list-group-item-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </a> --}}
                 {{!-- <a class="list-group-item">
                    <h3 class="list-group-item-heading">
                        July 28, 2017 <small>4:30 PM</small>
                    </h3>
                    <p class="list-group-item-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </a> --}}
                {{!-- <a class="list-group-item">
                    <h3 class="list-group-item-heading">
                        this is a test <small>this is another test</small>
                    </h3>
                    <p class="list-group-item-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </a>
                <a class="list-group-item">
                    <h3 class="list-group-item-heading">
                        this is a test <small>this is another test</small>
                    </h3>
                    <p class="list-group-item-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </a>
                <a class="list-group-item">
                    <h3 class="list-group-item-heading">
                        this is a test <small>this is another test</small>
                    </h3>
                    <p class="list-group-item-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </a>  --}}
            </div>
        </div>
        <div class="col-md-6 bgimg"> 
              {{!-- <img src="/img/vectorstock_5981367-[Converted].jpg" height="330px" id="tree">   --}}
        </div>
    </div>

</div>

{{!-- {{ <p>{{scream welcome}}</p> --}}

{{> footer}}

</body>

<script type="text/javascript">
"use strict";

/* Locals */
var $inp,
    $isend;

var $thelist;
var $footer;
    
$( document ).ready(function() {

    // local vars
    $inp = $("#inp"),
    $isend = $('#isend');
    $thelist = $('#thelist');
    $footer = $('footer');
    
    $.get("/jl/journals", data => {            
            {{!-- var parse = (item) => {
                /*
                    <a class="list-group-item">
                        <h3 class="list-group-item-heading">
                            July 30, 2017 <small>9:05 AM</small>
                        </h3>
                        <p class="list-group-item-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </a>
                */
                var $a = $("<a>").addClass("list-group-item"),
                    $head = $("<h3>").addClass("list-group-item-heading"),
                    $p = $("<p>").addClass("list-group-item-text"),
                    $time = $("<small>");

                $head.html(dateFromObjectId(item._id).format('MMMM Do YYYY'));
                $head.append($time.html(dateFromObjectId(item._id).format('h:mm a')));
                $p.html(item.text);
                return $a.append($head).append($p).get(0).outerHTML;
            }; --}}
            if (typeof data === "object") {

                var parsed = '';
                for (var i = 0; i < data.length; i++) {
                    parsed += opt.parse( data[i] );
                }

                if(!data.length){
                    parsed = opt.parse(null, { dummy: true });
                }

                $thelist.html(parsed);
            }

            setTimeout(() => {
                organizePage();
            },200);
    }, "json");
    

    /* Events */

    $('#inp').on({
        focus: function() {
        {{!-- var span = $(this).parent(".input-group").next("span#helpBlock");
        span.css({display: "block"}); --}}
        $(this).closest(".row.wt").addClass("on");
    },
        blur: function() {
        {{!-- var span = $(this).parent(".input-group").next("span#helpBlock");
        span.css({display: "none"}); --}}
        $(this).closest(".row.wt").removeClass("on");
        }    
    });


    $isend.click(function() {
        //console.log(`clicked on ${this.id}`);

        if (!$.trim($inp.val())) {
            return false;
        }

        $.post("/jl/journals", { text: $.trim($inp.val()) }, function(data) {
            $thelist.prepend(opt.parse( data.doc, {active: 1} ));
            $inp.val(''); // clear text box

             setTimeout(() => {
                var item = $thelist.find('a:first').removeClass('on');
                setTimeout(() => {$thelist.find('a:first').removeClass('act');}, 2000);
            }, 200); 

            {{!-- console.log(data); --}}
        })
        .fail(err => {
            console.log(err);
        });
    });


    /********End of Events**********/
    

    
});

var opt = (function () {

    var threshold = 40;

         return {
            getMax: function(a) {
                return threshold + (a ? 'px' : 0);
            },
            parse: function(item, obj) {
                /*
                    <a class="list-group-item">
                        <h3 class="list-group-item-heading">
                            July 30, 2017 <small>9:05 AM</small>
                        </h3>
                        <p class="list-group-item-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </a>
                */
                var _options = $.extend({}, {
                    active: undefined,
                    dummy: false
                }, obj);

                var $a = $("<a>").addClass("list-group-item"),
                    $head = $("<h3>").addClass("list-group-item-heading"),
                    $p = $("<p>").addClass("list-group-item-text"),
                    $time = $("<small>");

                if(_options.active) $a.addClass("act on")
                $head.html(_options.dummy ? moment().format('MMMM Do YYYY') : dateFromObjectId(item._id).format('MMMM Do YYYY'));
                $head.append($time.html(_options.dummy ? moment().format('h:mm a') : dateFromObjectId(item._id).format('h:mm a')));
                $p.html(_options.dummy ? "Hello World!! This is a test journal entry ;)" : item.text);
                return $a.append($head).append($p).get(0).outerHTML;
            }
        } 

    {{!-- return function() {
        return threshold + 'px';
    } --}}

})();

var organizePage = () => {

    {{!-- var listposition = $thelist.offset().top,
    fposition = $footer.offset().top; --}}
      
    {{!-- if ( Math.abs((listposition + listposition.outerHeight(true)) - fposition) <= opt.getMax() ) {
        //$footer.css({"position": })
    } --}}
    /* Switch Mascot */
    $('.bgimg').addClass("on");

};

var dateFromObjectId = function (objectId) {
	return moment(new Date(parseInt(objectId.substring(0, 8), 16) * 1000));
};

</script>

</html>