.bdfooter {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p.sans {
    font-family: Helvetica, sans-serif;
    color: #4d4d4d;
    margin: 0 0 29px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55556;
}

/* 
.input-group {
    margin-bottom: 20px;
} */

.wt {
    margin-bottom: 20px;
}

/* Bootstrap Overrides */

.help-block {
    margin-left: 10px;
    font-size: 90%;
    display: none;
}
