#thelist {
    max-height: 251px;
    overflow: hidden;
    overflow-y: auto;
    cursor: default;
    padding-right: 5px;
}
#thelist a.list-group-item {
    margin-bottom: 10px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 4px;
}
#thelist a.list-group-item.act {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;    
}
#thelist a.list-group-item.act.on {
    background-color: #eceff1;
}

img#tree {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.bgimg {
    position: relative;
    background-image: url(/img/234.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: center;
    opacity: .05;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}
.bgimg.on {
    opacity:1;
}

.wt {
    margin-bottom: 20px;
}
.wt.on {
    margin-bottom: 0;
}
.wt.on span.help-block{
    display: block;
}